.missionsDiv {
  margin: 2.5%;
}

.table {
  border: 1px solid grey;
  border-collapse: collapse;
}

.tableHead {
  font-weight: bold;
  font-size: large;
}

.missionName {
  font-weight: bold;
  width: 11%;
}

td {
  padding: 0.5rem;
}

.missionDescription {
  width: 65%;
}

.memberButton {
  width: 7rem;
}

.memberButton button {
  width: 7.5rem;
  height: 1.5rem;
}

table,
td,
th {
  border: 1px solid grey;
}

.joinButton {
  width: 8.5rem;
  text-align: center;
}

.joinButton button {
  height: 2.5rem;
  width: 8rem;
}

tbody tr:nth-child(odd) {
  background-color: gainsboro;
}

.notMember {
  background-color: grey;
  color: white;
}

.activeMember {
  background-color: mediumturquoise;
  color: white;
}